.footer {
  width: 100%;
  padding: 6rem 0;
  background-color: rgba(19, 19, 19, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  font-family: "poppins", "san-serif";
}

.footer .information {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  justify-content: center;
}

.footer .about .description {
  text-align: justify;
  word-spacing: -2px;
}

.footer .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer .contact .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer .contact .social {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1040px) {
  .footer {
    padding: 3rem;
  }
}

@media screen and (max-width: 640px) {
  .footer .information {
    display: flex;
    flex-direction: column;
  }
  .footer .about .description {
    text-align: left;
    word-spacing: -2px;
  }
}
